<div class="container">
  <div class="row">
    <div class="jumbotron">
      <h1>Pomo</h1>
      <h3>Productivity simplfied</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 text-center">
      <h4>Simplistic</h4>
      <p>Here at Pomo we believe that a simplistice design is key to maintaining focus.  We will never try
        to clutter your workspace.</p>
    </div>

    <div class="col-md-4 text-center">
      <h4>Track your Task</h4>
      <p>Enter you task and rank them in order of importance.  Track time spent on each task and delete them as you
        knock them out.</p>
    </div>

    <div class="col-md-4">
      <h4>Be more productive</h4>
      <p>Our goal is to help you become more productive.  Pomo uses the pomordoro time technique.  You will work for 25 minuets
        and then take a 5 minuet break.</p>
    </div>
  </div>
</div>
