<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h3>{{  timer.timeOut.counter | timecode }}<h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center">
      <button class="btn btn-success btn-lg">
        <span class="start"
            ng-show="!timer.timeOut.timing && !timer.timeOut.breaking"
            ng-click="timer.timeOut.start()">
            Start
        </span>
        <span class="restart"
            ng-show="timer.timeOut.timing && timer.timeOut.breaking"
            ng-click="timer.timeOut.reset()">
            Reset
        </span>
        <span class="beaking"
          ng-show="timer.timeOut.breaking"
          ng-click="timer.timeOut.startBreak()">
          Break
        </span>
      </button>
    </div>
  </div>
</div>
